<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="~/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link href="~/Scss/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Designing/css/fontawesome.css">

    <link rel="stylesheet" href="~/Designing/css/style.css">

    <link rel="stylesheet" href="~/Designing/css/owl.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href=@Url.Action("Home","Root")>
                    <h2>FARG</h2>

                    <h5 style="color:#cf490f">
                        Florida Auto Remaking Group
                        
                    </h5>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-link" href=@Url.Action("BuyOffLease","Root")>
                                Buy Off Lease
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("BuyTradeIn","Root")>Buy Trade In</a></li>


                        <li class="nav-item"><a class="nav-link" href=@Url.Action("SellOrTradeIn","Root")>Sell or Trade In</a></li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("Finance","Root")>Finance</a></li>
                        <li class="nav-item"><a class="nav-link" href=@Url.Action("More","Root")>More</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
            <div class="banner-item-03">
                <div class="col-lg-offset-11" style="text-align:left;margin-left:20px">
                    <h1 style="color:white">We Buy All Cars</h1><br>
                    <h1 style="color:white">Get Paid Same Day</h1> <br>
                    <h1 style="color:white">Trade In With Best Offer</h1>
                </div>
            </div>

        </div>
    </div>
    <!-- Banner Ends Here -->
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div style="text-align:center">
        <h3>
            <strong>
                Get Offer
            </strong>
        </h3>
    </div>
    <br><br>
    <div class="row">
        <div>
            <h3 class="h3-TellUs">Tell Us About Yourself</h3>
        </div>
    </div>




    <div class="latest-products" >
        <div class="container">
            <div class="row">





                <div class="col-md-6">
                    <label><strong>First Name</strong></label>
                    <input type="text" class="col-md-6 input-group-text" />
                </div>

                <div class="col-md-6">
                    <label><strong>Last Name</strong></label> 
                    <input type="text" class="col-md-6 input-group-text" />
                </div>

                <br><br>



                <div class="col-md-6">
                    <label><strong>Email</strong></label>
                    <input type="email" class="col-md-6 input-group-text" /> 
                </div>

                <div class="col-md-6">
                    <label><strong>Phone</strong></label> 
                    <input type="tel" class="col-md-6 input-group-text" />
                </div>
                <br><br>




                <div class="row" style="margin-top:30px;margin-bottom:40px">
                    <div>
                        <h3 style="color:blue"> Your Car</h3>
                    </div>
                </div>

                <br><br>

                <div class="row">

                    <div class="col-md-5">
                        <label><strong>Year</strong></label>
                        <input type="date" class="col-md-6 input-group-text" /> 
                    </div>

                    <div class="col-md-3">
                        <label><strong>Make</strong></label> 
                        <input type="text" class="col-md-6 input-group-text" />
                    </div>
                    <div class="col-md-3">
                        <label><strong>Model</strong></label> 
                        <input type="text" class="col-md-6 input-group-text" />
                    </div>
                    <br><br>


                    <div class="col-md-5">
                        <label><strong>Milleage</strong></label>
                        <input type="number" class="col-md-6 input-group-text"  /> 
                    </div>

                    <div class="col-md-3">
                        <label><strong>Vin</strong></label> 
                        <input type="text" class="col-md-6 input-group-text" />
                    </div>

                </div>



            </div>

            <div class="row" style="text-align:center;margin-top:100px">
                &nbsp;&nbsp;
                <h4 style="margin-right:130px">
                    Ownership Status
                </h4>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input checkbox" id="materialChecked2">
                    <label class="form-check-label" for="materialChecked2" style="font-size:20px">Owned</label>
                </div>
                <div class="form-check" >
                    <input type="checkbox" class="form-check-input checkbox" id="materialChecked2">
                    <label class="form-check-label" for="materialChecked2" style="font-size:20px">Financed</label>
                </div>
            </div>



        </div>
    </div>

    <div class="row">
        <a href="#" class="btn btn-primary" style="border-color:#0846a8;font-size:18px;margin-left:750px;margin-top:80px"> Submit </a>
    </div>




    <div class="happy-clients" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
                <div class="col-md-12">
                    <div class="owl-clients owl-carousel text-center">
                        <div class="service-item">
                            <div>
                                <h2>Your Trust</h2>
                            </div>
                            <div class="down-content">
                                
                                <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div>
                                <h2>Our Expertise</h2>
                            </div>
                            <div class="down-content">
                              
                                <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div>
                                <h2>Commitment</h2>
                            </div>
                            <div class="down-content">
                                
                                <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>





    <footer class="site-footer" style="background-color:#d87135">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <br>
                    <a class="navbar-brand" href=@Url.Action("Home","Root")>
                        <h2><strong style="color:white">FARG</strong></h2>

                        <p>
                            <strong style="color:white"> Florida Auto Remaking Group </strong>
                        </p>
                    </a> <br><br><br>
                    <a href="#" style="color:white">Buy Off Lease</a> <br><br>
                    <a href="#" style="color:white">Buy Trade Ins</a><br><br>
                    <a href="#" style="color:white">Sell Or Trade In</a><br><br>
                    <a href="#" style="color:white">Finance</a>
                </div>
                <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                    <br>
                    <a class="navbar-brand" href=@Url.Action("Home","Root")>
                        <h2><strong style="color:white">About</strong></h2>


                    </a><br><br><br><br>
                    <a class="footer-heading mb-4" href="#" style="color:white">About Farg</></a><br><br>
                    <a class="footer-heading mb-4" href="#" style="color:white">About Us</></a><br><br>
                    <a class="footer-heading mb-4" href="#" style="color:white">Customers Reviews</a>

                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <br>
                        <h3 class="footer-heading mb-4" style="color:white">Contact Info</></h3><br><br>
                        <ul class="list-unstyled">
                            <br>
                            <li class="phone" style="color:white">Contact: 3049726092</></li>
                            <br>
                            <li class="address" style="color:white">4701 Orange Dr Ford Lauradelle FL 33314</li>

                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="~/Scss/jquery/jquery.min.js"></script>
    <script src="~/Scss/jquery/jquery.min.js"></script>

    <script src="~/Scss/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scss/bootstrap/js/bootstrap.bundle.min.js"></script>



    <!-- Additional Scripts -->
    <script src="~/Designing/js/custom.js"></script>
    <script src="~/Designing/js/owl.js"></script>


</body>
</html>